body{
    display: flex;
    background-color:rgb(26, 26, 26);
    justify-content: center;
    align-items: center;
    height:100Vh;
    font-family: Arial, Helvetica, sans-serif;
}
.calc{

    transform:
    perspective(500px)
    translate3d(0px, 0px, -100px)
    rotateX(20deg)
    scale(1, 1);
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
  }

    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdkccgIHxqRlkEi-hWhwsEV0M7HjlfxHknEA&s");
    /* backdrop-filter:; */
    background-color: white;
width: 306px;
border-radius: 12px;
padding: 30px;
transition: 0.5s;
border: 2px solid white;
}
.calc:hover{
    border-radius: 20px;
}
.search{
    border-radius: 20px;
    height: 80px;
    margin-bottom: 20px ;
    font-size: 40px;
    width: 310px;
    position: relative;
    right: 5px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px 2px rgb(24, 24, 24);
}
.search:hover{
    border-radius: 25px;
    box-shadow: 2px 2px 2px 4px rgb(24, 24, 24)
}
.button{
    width: 270px;
}
button{
    position: relative;
    left: 15px;
    margin: 4px;
    padding:10px ;
    transition: 0.5s;
    width:79px;
    font-weight: 700;
    font-size: 15px;
    height:50px ;
    border-radius: 12px;
    box-shadow: 2px 2px 2px rgb(24, 24, 24);
    background-color: rgb(245, 205, 209);
}
button:hover{
    border-radius:17px ;
    box-shadow: 2px 2px 8px rgb(24, 24, 24);
}